<%= form_with(model: child_profile, url: child_profiles_path, html: {multipart: true}, remote: true, data: { type: :html }) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.date_select :birthday, {order: [:month, :day, :year]}, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= f.label :notes, class: "row" %>
    <%= f.rich_text_area :notes, class: "row" %>
  </div>

  <%= f.submit "Add profile", class: "btn btn-block btn-primary" %>
<% end %>