<% title "Child Profile" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Child Profiles", child_profiles_path %></li>
  <li class="breadcrumb-item active" aria-current="page"><%= @child_profile.name %></li>
<% end %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">
      Child Profile
    </h4>

    <dl>
      <dt>Name</dt>
      <dd><%= @child_profile.name %>

      <dt>Birthday</dt>
      <dd><%= short_date(@child_profile.birthday) %></dd>

      <dt>Photo</dt>
      <dd>
        <%= image_tag(@child_profile.thumbnail) %>
      </dd>

      <dt>Notes</dt>
      <dd>
        <%= @child_profile.notes %>
      </dd>
    </dl>

    <%= link_to "Edit this profile", edit_child_profile_path(@child_profile), class: "btn btn-info btn-block" %>
  <% end %>
<% end %>