<li class="list-group-item row">
  <p class="lead font-weight-bold">
    Room:
    <span class="font-weight-normal" >
     <%= reservation.room.decorate.smart_link %>
    </span>
  </p>

  <p class="lead font-weight-bold">
    Time:
    <span class="font-weight-normal">
     <%= reservation.pretty_datetime %>
    </span>
  </p>

  <p class="lead font-weight-bold">
    Duration:
    <span class="font-weight-normal">
      <%= reservation.minutes %> minutes
    </span>
  </p>

  <p class="lead font-weight-bold">
    User:
    <span class="font-weight-normal">
      <%- if reservation.user.present? %>
        <%= link_to reservation.user.name, user_path(reservation.user) %>
      <%- else %>
        <i>Deleted user</i>
      <%- end %>
    </span>
  </p>


  <%- if reservation.cancelled? %>
    <p class="font-weight-bold">
      Status:
      <span class="badge badge-warning">Cancelled</span>
    </p>
  <%- end %>

  <%- if policy(reservation).cancel? %>
    <p><%= link_to "Cancel this reservation", reservation_path(reservation), method: :delete, remote: true, class: "btn btn-block btn-danger" %></p>
  <%- end %>
</li>