<div class="row">
  <div class="col-3 d-flex" style="height: 125px;">
    <% if reservation.room.has_photo? %>
      <%= image_tag reservation.room.card_photo, class: "rounded w-auto flex-grow-1", style: "height: 100%;" %>
    <% else %>
      <%= image_tag "profile-125x125.jpg", class: "rounded w-auto" %>
    <% end %>
  </div>
  <div class="col-9 d-flex flex-column justify-content-between">
    <div class="row">
      <h6 class="text-danger col">
        <%= pretty_timestamps(reservation.datetime_in, reservation.datetime_out) %>
      </h6>
    </div>
    <div class="row">
      <h5 class="col"><%= reservation.room.name %></h5>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to "View reservation", '#', class: "btn btn-block btn-primary" %>
      </div>
    </div>
  </div>
</div>