<% title "How long?" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Choose a day", choose_day_reservations_path(room_id: @room.id) %></li>
  <li class="breadcrumb-item"><%= link_to "Choose a time", choose_time_reservations_path(room_id: @room.id, day: @day) %></li>
  <li class="breadcrumb-item active" aria-current="page">How long?</li>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">How long?</h4>

  <dl class="row">
    <dt class="col-6">Room</dt>
    <dd class="col"><%= @room.name %></dd>

    <dt class="col-6">Day</dt>
    <dd class="col"><%= short_date(@day) %></dd>

    <dt class="col-6">Time</dt>
    <dd class="col"><%= pretty_time(@hour) %></dd>
  </dl>

  <% [1, 2, 3, 4].each do |i| %>
    <% if @room.available_at?(@hour + (i - 1).hours) %>
      <%= link_to "#{i} #{quantize(i, 'hour')}", confirm_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: i), class: "btn btn-block btn-primary" %>
    <% else %>
      <% break %>
    <% end %>
  <% end %>
<% end %>