<% title "Choose a day" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Choose a day</h4>

  <dl class="row">
    <dt class="col-6">Room</dt>
    <dd class="col"><%= @room.name %></dd>
  </dl>

  <%= form_with(local: true, url: choose_time_reservations_path, method: :get) do |f| %>
    <div class="form-group">
      <%= f.date_select :day, {}, class: "form-control mt-2" %>
    </div>
    <%= f.hidden_field :room_id, value: @room.id %>

    <%= f.submit "Next", class: "btn btn-block btn-primary" %>
  <% end %>
<% end %>