<% title "Choose a day" %>

<%= breadcrumb do %>
  <% if current_user.admin? %>
    <li class="breadcrumb-item"><%= link_to "Choose a member", choose_member_reservations_path(room_id: @room.id) %></li>
  <% end %>
  <li class="breadcrumb-item active" aria-current="page">Choose a day</li>
<% end %>

<%= render Layout::FullWidth.new do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">Choose a day</h4>

    <dl class="row">
      <dt class="col-6">Room</dt>
      <dd class="col"><%= @room.name %></dd>

      <dt class="col-6">User</dt>
      <dd class="col"><%= link_to @user.name, user_path(@user) %></dd>
    </dl>
    </dl>

    <%= form_with(url: choose_time_post_reservations_path, method: :post) do |f| %>
      <div class="form-group">
        <%= f.date_select :day, {order: [:month, :day, :year]}, class: "form-control mt-2" %>
      </div>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.hidden_field :user_id, value: @user.id %>

      <%= f.submit "Next", class: "btn btn-block btn-primary" %>
    <% end %>
  <% end %>
<% end %>