<% title "How long?" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Choose a day", choose_day_reservations_path(room_id: @room.id) %></li>
  <li class="breadcrumb-item"><%= link_to "Choose a time", choose_time_reservations_path(room_id: @room.id, day: @day) %></li>
  <li class="breadcrumb-item active" aria-current="page">How long?</li>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">How long?</h4>

  <dl class="row">
    <dt class="col-6">Room</dt>
    <dd class="col"><%= @room.name %></dd>

    <dt class="col-6">Day</dt>
    <dd class="col"><%= short_date(@day) %></dd>

    <dt class="col-6">Time</dt>
    <dd class="col"><%= pretty_time(@hour) %></dd>
  </dl>

  <% if @room.available_at?(@datetime_in) %>
    <pre><%= @datetime_in %></pre>
    <%= link_to "30 minutes", confirm_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: 30), class: "btn btn-block btn-primary" %>
  
    <% if @room.available_at?(@datetime_in + 30.minutes) %>
      <%= link_to "1 hour", confirm_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: 60), class: "btn btn-block btn-primary" %>

      <% if @room.available_at?(@datetime_in + 60.minutes) %>
        <%= link_to "1.5 hours", confirm_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: 90), class: "btn btn-block btn-primary" %>

        <% if @room.available_at?(@datetime_in + 90.minutes) %>
          <%= link_to "2 hours", confirm_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: 120), class: "btn btn-block btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>