<% title "Confirm reservation" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Confirm reservation</h4>

  <dl class="row">
    <dt class="col-6">Room</dt>
    <dd class="col"><%= @room.name %></dd>

    <dt class="col-6">Day</dt>
    <dd class="col"><%= short_date(@day) %></dd>

    <dt class="col-6">Time</dt>
    <dd class="col"><%= pretty_time(@hour) %></dd>

    <dt class="col-6">Hours</dt>
    <dd class="col"><%= @duration %> <%= quantize(@duration, "hour") %></dd>
  </dl>

  <%= link_to "Confirm Reservation", create_reservation_reservations_path(room_id: @room.id, day: @day, hour: pretty_time(@hour), duration: @duration), class: "btn btn-block btn-primary" %>
<% end %>