
<%- title 'Plans' %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Available Plans</h4>
  <%= link_to "Add a new plan", new_plan_path, class: "btn btn-primary btn-block mb-3" %>

  <% if @plans.available.count < 1 %>
    <i>There are no plans available.</i>
  <% else %>
    <div class="list-group list-group-flush mt-4">
      <%= render @plans.available, view: true %>
    </div>
  <% end %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Archived Plans</h4>

  <% if @plans.unavailable.count < 1 %>
    <i>All plans are available.</i>
  <% else %>
    <div class="list-group list-group-flush mt-4">
      <%= render @plans.unavailable, view: true %>
    </div>
  <% end %>
<% end %>
