<%- title @plan.name %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Plans", plans_path %></li>
  <li class="breadcrumb-item active" aria-current="page"><%= @plan.name %></li>
<% end %>

<%= render(FullWidth) do %>
  <%= list_wrapper do %>
    
    <%= list_item do %>
  
      <h4 class="display-4 text-center mt-4"><%= @plan.name %></h4>

      <dl class="row">
        <dt class="col-sm">Price</dt>
        <dd class="col-sm">
          <%= dollar_amount(@plan.amount_in_cents) %> / <%= @plan.stripe_interval %>
        </dd>
      </dl> 

      <% if @plan.visible? %>
        <div class="row">
          <div class="col">
            <i class="fas fa-check"></i>
            &nbsp;
            Visible to new members
          </div>
        </div>
      <% end %>

      <% if @plan.available? %>
        <div class="row">
          <div class="col">
            <i class="fas fa-check"></i>
            &nbsp;
            Available for admins to add
          </div>
        </div>
      <% end %>

      <% if @plan.always_allow_building_access? %>
        <div class="row">
          <div class="col">
            <i class="fas fa-check"></i>
            &nbsp;
            Includes 24/7 building access
          </div>
        </div>
      <% end %>

      <% if @plan.has_day_limit? %>
        <div class="row">
          <div class="col">
            <strong><%= @plan.day_limit %></strong> days included
          </div>
        </div>
      <% end %>

      <div class="row mt-3">
        <div class="col">
          <%- if @plan.available? %>
            <%= link_to "Archive", plan_path(@plan), method: :delete, remote: true, class: "btn btn-block btn-danger" %>
          <%- else %>
            <%= link_to "Unarchive", plan_unarchive_path(@plan), method: :post, remote: true, class: "btn btn-block btn-warning" %>
          <%- end %>
        </div>
      </div>

    <% end %>
  <% end %>
<% end %>

