<%= form_for(:session, url: operator_login_create_path, remote: true) do |f| %>
  <%= render "layouts/flash" %>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.email_field :email, placeholder: "Email", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.submit "Next", class: "form-control btn btn-primary col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group col"></div>
    <div class="col-1"></div>
    <div class="col-sm-7 text-right">
      <small>
        Not a member? <%= link_to "Sign up", operator_signup_path %>
      </small>
    </div>
  <div class="col-1"></div>
<% end %>
