<% title "Lead" %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="dislay-4 text-center"><%= @lead.user.name %></h4>
  <% end %>
  
  <%= list_item do %>
    <dl>
      <dt>User</dt>
      <dd><%= link_to @lead.user.name, user_path(@lead.user) %>

      <dt>Status</dt>
      <dd><%= @lead.status %></dd>

      <dt>First Visit</dt>
      <dd>
        <%= short_date(@lead.ahoy_visit.started_at) %>
      </dd>

      <dt>Referrer</dt>
      <dd>
        <% if @lead.ahoy_visit.referrer.present? %>
          <%= @lead.ahoy_visit.referrer %>
        <% else %>
          <i>None</i>
        <% end %>
      </dd>

      <dt>Landing page</dt>
      <dd>
        <%= @lead.ahoy_visit.landing_page %>
      </dd>
    </dl>
  <% end %>

  <% @lead.lead_notes.each do |lead_note| %>
    <%= list_item do %>
      <%= lead_note.content %>
    <% end %>
  <% end %>

  <%= list_item do %>
    
    <%= form_with(model: @lead.lead_notes.new, url: lead_notes_path(lead_id: @lead.id), method: :post, remote: true) do |f| %>
      <%= f.rich_text_area :content, placeholder: "Say something..." %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :lead_id, value: @lead.id %>

      <%= f.submit "Post a note", class: "btn btn-block btn-primary" %>
    <% end %>
  <% end %>
<% end %>