<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">Welcome!</h4>
      <p class="lead text-center mb-3 mt-3">To proceed, please purchase a day pass or become a member at <%= current_tenant.name %>.</p>
      <div class="row mb-2 mr-1 ml-1">
        <div class="col mt-3">
          <strong class="row">
            Day Passes
          </strong>
          <p class="row mt-3" style="height: 100px;">
            A day pass costs <%= number_to_currency(current_tenant.day_pass_cost.to_f / 100.0) %> and include access to the building, wifi, and a desk.
          </p>
          <div class="row">
            <%= link_to "Buy a day pass", new_day_pass_path, class: "btn btn-primary col m-2" %>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col mt-3">
          <strong class="row">
            Memberships
          </strong>
          <p class="row mt-3" style="height: 100px;">
            Memberships start at <%= number_to_currency(current_tenant.plans.visible.order('amount_in_cents DESC').first.amount_in_cents.to_f / 100.0) %> and vary from flexible desk space to full private offices.
          </p>
          <div class="row">
            <%= link_to "Become a member", new_subscription_path, class: "btn btn-info col m-2" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>


