<% title "Welcome" %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Welcome!</h4>
  <p class="lead text-center mb-3 mt-3">To proceed, please select an option:</p>
  
  <% if current_location.allow_hourly? %>
    <% if active_working_hours?(current_location) %>
      <%= render "checkin", location: current_location, user: current_user %>
    <% else %>
      <%= render "shared/closed", location: current_location %>
    <% end %>
  <% end %>

  <div class="row mb-2 mr-1 ml-1">
    <% if @day_pass_types.count > 0 %>
      <%= render "day_pass", day_pass_types: @day_pass_types %>
    <% end %>
    <% if @plans.count > 0 %>
      <%= render "memberships", plans: @plans %>
    <% end %>
  </div>

<% end %>

<div class="row mb-3">
  <div class="col-lg-3"></div>
  <div class="col-lg">
    <%= render "shared/contact_card" %>
  </div>
  <div class="col-lg-3"></div>
</div>
