<% title "Welcome" %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Welcome!</h4>
  <p class="lead text-center mb-3 mt-3">To proceed, please select an option:</p>
  
  <% if current_location.hourly_enabled? %>
    <% if active_working_hours?(current_location) %>
      <%= render "checkin", location: current_location, user: current_user %>
    <% else %>
      <%= render "shared/closed", location: current_location %>
    <% end %>
  <% end %>

  <% if current_tenant.day_passes_enabled? %>
    <%= render "day_pass", day_pass_types: @day_pass_types %>
  <% end %>

  <% if current_tenant.memberships_enabled? %>
    <%= render "memberships", plans: @plans %>
  <% end %>
<% end %>

<%= wide_card do %>
  <%= render "shared/contact_card" %>
<% end %>
