<% title current_location.name %>

<div class="row mt-3">
  <div class="col-sm">
    <div class="card-group">
      <%= render "shared/building_access_card" %>
      <%= render "shared/send_feedback_card" %>
      <% if current_location.rooms.count > 0 %>
        <%= render "shared/reservations_card" %>
      <% else %>
        <%= render "shared/empty_card" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-sm">
    <div class="card-group">
      <%= render "shared/wifi" %>
      <% if current_tenant.has_contact_info? %>
        <%= render "shared/contact_card" %>
        <%= render "shared/map_card" %>
      <% else %>
        <%= render "shared/map_card" %>
        <%= render "shared/empty_card" %>
      <% end %>
    </div>
  </div>
</div>
