<% title current_location.name %>

<div class="row mt-0 mb-0 p-0">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 m-0 p-0">
    <%= list_wrapper do %>

      <% if current_location.building_access_instructions.present? %>
        <%= list_item do %>
          <%= render(AccessInstructions::CheckinInstructions.new(operator: current_tenant, location: current_location)) %>
        <% end %>
      <% end %>

      <% if policy(:door).enabled? %>
        <%= list_item do %>
          <%= render(AccessInstructions::DoorButtons.new(
            operator: current_tenant,
            location: current_location,
            mobile_app_request: mobile_app_request?,
            has_access: active_working_hours?(current_location) || has_building_access?(current_user),
            doors: @doors)) %>
        <% end %>
      <% end %>

      <% if @open_tickets.present? && @open_tickets.any? %>
        <% @open_tickets.each do |ticket| %>
          <%= list_item do %>
            <div class="open-ticket-card">
              <div class="d-flex align-items-center mb-2">
                <span class="badge badge-warning mr-2">New Reply</span>
                <small class="text-muted"><%= time_ago_in_words(ticket.updated_at) %> ago</small>
              </div>
              <p class="mb-2 text-dark"><%= truncate(ticket.comment, length: 80) %></p>
              <% latest_reply = ticket.feedback_replies.order(created_at: :desc).first %>
              <% if latest_reply&.from_admin? %>
                <p class="mb-2 text-muted" style="font-size: 14px;">
                  <strong><%= latest_reply.user.name %></strong> replied: "<%= truncate(latest_reply.body, length: 60) %>"
                </p>
              <% end %>
              <div class="d-flex">
                <%= link_to "View Thread", member_feedback_path(ticket), class: "btn btn-primary btn-sm mr-2" %>
                <%= link_to "Dismiss", dismiss_member_feedback_path(ticket), method: :post, class: "btn btn-outline-secondary btn-sm" %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="list-group-item m-0" style="border-top: 0px; border-bottom: 0px;">
        <h5 class="card-title">Quick Actions</h5>
      </div>

      <% if current_user.has_active_subscription? %>
        <%= link_to user_memberships_path(current_user), class: "list-group-item list-group-item-action m-0", style: "border-top: 0px;" do %>
          <div class="row">
            <div class="col-11">
              <i class="fas fa-users-cog"></i>
              &nbsp;
              Manage my membership
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to subscriptions_path, class: "list-group-item list-group-item-action m-0", style: "border-top: 0px;" do %>
          <div class="row">
            <div class="col-11">
              <i class="fas fa-users-cog"></i>
              &nbsp;
              Upgrade to a membership
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>

        <% end %>
      <% end %>

      <% if policy(:room).enabled? %>
        <%= link_to user_reservations_path(current_user), class: "list-group-item list-group-item-action m-0", style: "border-top: 0px;" do %>
          <div class="row">
            <div class="col-11">
              <i class="fas fa-briefcase"></i>
              &nbsp;
              See my room reservations
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if policy(:childcare).enabled? %>
        <%= link_to user_childcare_path(current_user), class: "list-group-item list-group-item-action m-0", style: "border-top: 0px;" do %>
          <div class="row">
            <div class="col-11">
              <i class="fas fa-child"></i>
              &nbsp;
              &nbsp;
              See my childcare
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if policy(:payment).enabled? %>
        <%= link_to  user_invoices_path(current_user), class: "list-group-item list-group-item-action m-0", style: "border-top: 0px; border-bottom: 0px;" do %>
          <div class="row">
            <div class="col-11">
              <i class="fas fa-dollar-sign"></i>
              &nbsp;
              <span class="ml-2">
                See my invoices
              </span>
            </div>
            <div class="col-1">
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if policy(:announcement).enabled? && @announcement %>
        <%= list_item do %>
          <%= render "shared/announcements_card", announcement: @announcement %>
        <% end %>
      <% end %>

      <% if policy(:event).enabled? && current_location.events.future.count > 0 %>
        <%= list_item do %>
          <div class="row">
            <div class="col">
              <%= render "operator/events/time_bucket_header", date: @events.first.first %>
            </div>
          </div>

          <div class="row mt-2 mb-5">
            <div class="col">
              <%= render "operator/events/event_item", event: @events.first.last.first %>
            </div>
          </div>

          <%= link_to "View all events", events_path, class: "btn btn-block btn-primary" %>
        <% end %>
      <% end %>

      <% if policy(:room).enabled? && @reservation.present? %>
        <%= list_item do %>
          <div class="row">
            <div class="col">
              <%= render "operator/reservations/time_bucket_header", date: @reservation.datetime_in %>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <%= render "operator/reservations/upcoming_item", reservation: @reservation %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if policy(:room).enabled? && current_location.rooms.visible.count > 0 %>
        <%= list_item do %>
          <%= render "shared/reserve_now_card" %>
        <% end %>
      <% end %>

      <% if policy(:post).enabled? && current_location.posts.count > 0 %>
        <%= list_item do %>
          <h5 class="card-title">
            Bulletin Board
          </h5>
        <% end %>

        <% current_location.posts.order("created_at DESC").limit(2).each do |post| %>
          <%= render Posts::PostLink.new(post: post) %>
        <% end %>

        <%= list_item do %>
          <%= link_to "Read the bulletin board", posts_path, class: "btn btn-block btn-primary" %>
        <% end %>
      <% end %>

      <%= list_item do %>
        <%= render "shared/send_feedback_card" %>

        <% if @message_count > 0 %>
          <%= link_to my_feedback_member_feedbacks_path, class: "btn btn-block btn-outline-primary mt-3" do %>
            <i class="fas fa-envelope"></i>&nbsp; My Messages
            <% if @open_tickets.present? && @open_tickets.any? %>
              <span class="badge badge-danger ml-1"><%= @open_tickets.size %></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= list_item do %>
        <%= render "shared/wifi" %>
      <% end %>

      <%= list_item do %>
        <%= render "shared/map_card" %>
      <% end %>

      <% if current_location.has_contact_info? %>
        <%= list_item do %>
          <%= render "shared/contact_card" %>
        <% end %>
      <% end %>

    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>


