<% title  "Offices & Leases" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Offices</h4>
  <p>
    Showing offices for <strong><%= current_location.name %></strong>. Switch locations to manage offices at other locations.
  </p>

  <p>
    <%= current_location.name %> has <%= current_tenant.offices.count %> offices.
  </p>

  <%= link_to "View Offices", offices_path, class: "btn btn-block btn-primary" %>

<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Leases</h4>

  <p>
    Showing leases for <strong><%= current_location.name %></strong>. Switch locations to manage leases at other locations.
  </p>

  <p>
    <%= current_location.name %> has <%= current_location.office_leases.active.count %> active <%= quantize(current_location.office_leases.active, "leases") %> and <%= current_location.office_leases.inactive.count %> terminated / old <%= quantize(current_location.office_leases.inactive, "leases") %>
  </p>

  <%= link_to "View Leases", office_leases_path, class: "btn btn-block btn-primary" %>
<% end %>