<%= form_with(model: event, remote: true, html: {class: "form", multipart: true}, data: {type: :html}) do |f| %>
  <%= render "shared/error_messages" , model: event %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
  </div>

  <div class="form-group row m-0 p-0 mt-2">
    
    <div class="col pl-0 m-0">
      <%= f.label :image, "Add an image" do %>
        <span class="btn btn-sm btn-info">Add an image</span>
        <%= f.file_field :image,
                         multiple: false,
                         direct_upload: false,
                         accept: 'image/png,image/gif,image/jpeg,image/jpg',
                         class: "form-control-file d-none"
        %>
      <%- end %>
    </div>
    
  </div>
  
  <div class="form-group">
    <%= f.label :starts_at %>
    <%= f.text_field :starts_at, class: "form-control datetimepicker-input", id: "starts_at", data: {toggle: "datetimepicker", target: "#starts_at"} %>
  </div>
  
  <div class="form-group">
    <%= f.label :end_at, "Ends at (optional)" %>
    <%= f.text_field :ends_at, class: "form-control datetimepicker-input", id: "ends_at", data: {toggle: "datetimepicker", target: "#ends_at"} %>
  </div>

  <div class="form-group">
    <%= f.label :location_string, "Location (leave blank to use #{current_location.name})" %>
    <%= f.text_field :location_string, class: "form-control", placeholder: current_location.name %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: "Description", class: "form-control" %>
  </div>

  <div class="form-group row m-0 p-0">
    <button class="form-control btn btn-primary col" id="submit" data-disable-with="Creating...">
      <i class="far fa-calendar-alt"></i>      
      &nbsp;
      Create event
    </button>
  </div>
<% end %>

<script type="text/javascript">
  document.addEventListener("turbolinks:load", () => {
    var callback = function(e) {
      $("#ends_at").datetimepicker('minDate', $("#starts_at").datetimepicker('viewDate'));
    };
    
    $('#starts_at').datetimepicker({
        sideBySide: true,
        stepping: 5,
        widgetPositioning: {
          horizontal: 'auto',
          vertical: 'auto'
        },
        buttons: {
          showClose: true
        },
        icons: {
          close: 'fas fa-check'
        }
    });

    $("#starts_at").on("change.datetimepicker", callback);

    $('#ends_at').datetimepicker({
        userCurrent: false,
        sideBySide: true,
        stepping: 5,
        widgetPositioning: {
          horizontal: 'auto',
          vertical: 'auto'
        },
        buttons: {
          showClose: true
        },
        icons: {
          close: 'fas fa-check'
        }
    });
  });
</script>
