<p>Hello!</p>

<p>
  We're excited that you'll be joining us for <%= @event.title %>! Please download our mobile app below to continue:
</p>

<ul>
  <li>
    iOS App Store:
    <a href="<%= @user.operator.ios_url %>" target="_blank"><%= @user.operator.ios_url %></a>
  </li>
  <li>
    Google Play Store:
    <a href="<%= @user.operator.android_url %>" target="_blank"><%= @user.operator.android_url %></a>
  </li>
</ul>

<p>
  We've created an account for you already. Simply log in with the following credentials:
</p>

<ul>
  <li>Email: <b><%= @user.email %></b></li>
  <li>Password: <b><%= @password %></b></li>
</ul>
  
<p>
  See you soon,
</p>

<p>
  - The <%= @user.operator.name %> Team
</p>
