<div class="accordian" id="feed-item-filter-container">
  <div class="card mb-2">
    <div class="card-header" id="filter-header">
      <h2 class="mb-0">
        <a class="btn btn-link" role="button" data-toggle="collapse" href="#feed-item-filter" aria-expanded="true" aria-controls="feed-item-filter">
          Filter management feed
        </a>
      </h2>
    </div>

    <div class="collapse hide" id="feed-item-filter" aria-labelledby="#filter-header" data-parent="#feed-item-filter-container">
      <div class="card-body text-center">
        <div class="btn-group btn-group-sm" role="group">
          <%= link_to "All", "#", class: "btn btn-primary" %>
          <%= link_to "Expenses", "#", class: "btn btn-primary" %>
          <%= link_to "Questions", "#", class: "btn btn-primary" %>
        </div>
      </div>

      <div class="card-body text-center">
        <div class="btn-group btn-group-sm" role="group">
          <%= link_to "All", "#", class: "btn btn-info" %>
          <% current_tenant.locations.each do |location| %>
            <%= link_to location.name, "#", class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>