<div class="row">
  <div>
    <%- if !feed_item.member_feedback.anonymous? %>
      <%= render "shared/small_profile_photo", user: feed_item.user %>
    <%- else %>
      <%= image_tag "profile-125x125.jpg", class: "img-thumbnail", style: "height: 50px;" %>
    <%- end %>
  </div>
  <div class="ml-2">
    <p class="mb-1">
      <%- if !feed_item.member_feedback.anonymous? %>
        <%= link_to feed_item.user.name, user_path(feed_item.user) %>
      <%- else %>
        Anonymous
      <%- end %>
      <br />
      <small>
        <%= link_to "#{time_ago_in_words(feed_item.created_at)} ago", feed_item_path(feed_item) %>
      </small>
    </p>
  </div>
  <div class="ml-auto">
    <%= render "operator/feed_items/common", feed_item: feed_item %>
  </div>
</div>
<div class="row mt-4">
  <h3>
    <%= feed_item.member_feedback.comment %>
  </h3>
</div>

<%= render "operator/feed_items/comments", feed_item: feed_item, show_comments: comments %>