
<div class="row">
  <div>
    <%= render "shared/small_profile_photo", user: feed_item.user %>
  </div>
  <div class="ml-2">
    <p class="mb-1">
      <%= link_to feed_item.user.name, user_path(feed_item.user) %>
      <br />
      <small>
        <%= link_to "#{time_ago_in_words(feed_item.user.created_at)} ago", feed_item_path(feed_item) %>
      </small>
    </p>
  </div>
  <div class="ml-auto">
    <%= render "common", feed_item: feed_item %>
  </div>
</div>
<div class="row mt-4">
  <p class="lead">
    Signed up!
  </p>
  <div class="ml-3"></div>
  
 </div>

 <%= render "comments", feed_item: feed_item, show_comments: comments %>