<% title "Home" %>

<div class="p-0 mt-1 mb-0 row">
  <div class="order-2 col-lg-2 order-lg-1"></div>
  <div class="order-3 p-0 m-0 col-lg-6 order-lg-2">
    <% if @feed_items.count > 0 %>
      <%= list_wrapper do %>
        <% @feed_items.each do |feed_item| %>
          <div id="feed-item-<%= feed_item.id %>">
            <%= render(FeedItemComponent.new(feed_item: feed_item, comments: true)) %>
          </div>
        <% end %>
      <% end %>

      <%== pagy_bootstrap_nav_js(@pagy) %>
    <% else %>
      <%= list_wrapper do %>
        <%= list_item do %>
          No feed items yet!
        <% end %>
      <% end %>
    <% end %>

  </div>
  <div class="order-1 p-0 mt-1 mb-2 col-lg-3 order-lg-3 pl-lg-2 pr-lg-2">
    <%= render "sidebar" %>
  </div>

  <div class="order-4 col-lg-1"></div>
</div>