<% title "Home" %>

<div class="row mt-3 mb-2">
  <div class="col-lg-2 order-2 order-lg-1"></div>
  <div class="col-lg-6 order-3 order-lg-2">

    <div class="card mb-2">
      <div class="card-body">
        <%= render "form", feed_item: @feed_item %>
      </div>
    </div>

    <%= render "filter" %>

    <% @feed_items.each do |feed_item| %>
      <div id="feed-item-<%= feed_item.id %>">
        <%= render "feed_item", feed_item: feed_item, comments: feed_item.feed_item_comments.count > 0 %>
      </div>
    <% end %>

    <%== pagy_bootstrap_responsive_nav(@pagy) %>

  </div>
  <div class="col-lg-3 order-1 order-lg-3 mb-2">
    <%= render "sidebar" %>
  </div>

  <div class="col-lg-1 order-4"></div>
</div>
