<%= wide_card do %>
  <%= form_with(url: search_results_path, method: :post, local: true) do |f| %>
    <div class="form-group row">
      <div class="col-lg-1"></div>
      <%- if @query.present? %>
        <%= f.text_field :query, placeholder: "Search", class: "form-control form-control-lg col-lg", value: @query %>
      <%- else %>
        <%= f.text_field :query, placeholder: "Search", class: "form-control form-control-lg col-lg" %>
      <%- end %>
      <div class="col-lg-1"></div>
    </div>
    <div class="form-group row">
      <div class="col-lg-1"></div>
      <%= f.submit "Search", class: "btn btn-block btn-primary col-lg" %>
      <div class="col-lg-1"></div>
    </div>
  <%- end %>
<%- end %>