<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Products", products_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
      </ol>
    </nav>
    <div class="jumbotron bg-white pb-2 pt-2">
      
      <h4 class="display-4 text-center mt-4"><%= @product.name %></h4>
      <%= render "actions", product: @product %>
      <dl class="row">
        <dt class="col-sm">Price</dt>
        <dd class="col-sm"><%= dollar_amount(@product.price) %></dd>
      </dl> 
      <dl class="row">
        <dt class="col-sm">Visible?</dt>
        <dd class="col-sm"><%= @product.visible? %></dd>
      </dl> 
      <dl class="row">
        <dt class="col-sm">Available</dt>
        <dd class="col-sm"><%= @product.available? %></dd>
      </dl> 
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
