<%- title "Building Access" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Building Access</h4>

  <p>
    Showing doors for <strong><%= current_location.name %></strong>. Switch locations to manage doors at other locations.
  </p>

  <%= link_to "Add a Door", new_door_path, class: "btn btn-block btn-primary" %>
<% end %>

<% @doors.each do |door| %> 
  <%= wide_card do %>
    <h4 class="display-4 text-center"><%= door.name %></h4>
    <p>
      <%= door.name %> has been opened <%= door.door_punches.this_month.count %> times this month.
    </p>
    <%= link_to "Open #{door.name}", door_open_path(door), class: "btn btn-block btn-success", data: {"turbolinks-action" => "restore"} %>
    <%= link_to "View Access Log", door_path(door), class: "btn btn-block btn-primary" %>
    <%= link_to "Configure", edit_door_path(door), class: "btn btn-block btn-info" %>
  <% end %>
<% end %>