<%- title @door.name %>

<% if !mobile_app_request? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Doors", doors_path %></li>
      <li class="breadcrumb-item active"> <%= @door.name %></li>
    </ol>
  </nav>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Access Log</h4>
  <p class="lead text-center"><%= @door.name %></p>
  <%= column_chart @door.door_punches.group_by_day(:created_at, last: 30).count, label: "Punches" %>
  <p>Kisi ID: <pre><%= @door.kisi_id %></pre></p>
  <table class="table">
    <tr>
      <th>When</th>
      <th>Who</th>
    </tr>
    <%- @punches.each do |punch| %>
      <tr>
        <td><%= punch.pretty_datetime %></td>
        <td><%= link_to punch.user.name, user_path(punch.user) %></td>
      </tr>
    <%- end %>
  </table>
  <%== pagy_bootstrap_responsive_nav(@pagy) %>
<% end %>