<%- title @door.name %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Doors", doors_path %></li>
  <li class="breadcrumb-item active"> <%= @door.name %></li>
<% end %>

<%= render(Layout::FullWidth) do %>
  <%= list_item do %>
    <h4 class="display-4 text-center mt-4">Access Log</h4>
    <p class="lead text-center"><%= @door.name %></p>
    <%= column_chart @door.door_punches.group_by_day(:created_at, last: 30).count, label: "Punches" %>
    <p>Kisi ID: <pre><%= @door.kisi_id %></pre></p>
    <% @punches.each do |punch| %>
      <dl class="row">
        <dt class="col-lg-6">
          <%= punch.pretty_datetime %>
        </dt>
          <dd class="col">
            <%= link_to punch.user.name, user_path(punch.user) %>
          </dd>
      </dl>
    <% end %>
    <%== pagy_bootstrap_responsive_nav(@pagy) %>
  <% end %>
<% end %>