<%- if admin? %>
  <div class="card bg-light">
    <div class="card-body">
      <h5 class="card-title">Administrative Actions <small class="text-muted">This data is only visible to administrators.</small></h5>
      <p class="card-text">
        <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary btn-sm" %>
      </p>
      <table class="table">
        <tr>
          <th>Email</th>
          <td><%= mail_to @user.email %></td>
        </tr>
        <tr>
          <th>Join Date</th>
          <td><%= @user.created_at.strftime("%F") %></td>
        </tr>
        <tr>
          <th>Owner of</th>
          <td>
            <%- if @user.owned_organization.present? %>
              <%= link_to @user.owned_organization.name, organization_path(@user.owned_organization) %>
            <%- else %>
              (none)
            <%- end %>
          </td>
        </tr>
        <tr>
          <th>Member of</th>
          <td>
            <%= render "organization_form" %>
          </td>
        </tr>
        <tr>
          <th>Memberships</th>
          <td></td>
        </tr>
        <%- @user.subscriptions.active.each do |subscription| %>
          <tr>
            <td></td>
            <td>
              <%= render "subscriptions/form", subscription: subscription, label: "Update membership", cc: false %>
            </td>
          </tr>
        <%- end %>
        <tr>
          <th>Day Passes</th>
          <td>
            <%= render "day_passes/admin_form", day_pass: DayPass.new, user: @user %>
          </td>
        </tr>
        <%- @user.day_passes.each do |day_pass| %>
          <tr>
            <td></td>
            <td>
              <%= day_pass.pretty_day %>
            </td>
          </tr>
        <%- end %>
      </table>
    </div>
  </div>
<%- end %>
