<%- if admin? %>
  <h2>Sensitive Info <small class="text-muted">This data is only visible to administrators.</small></h2>
  <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary" %>
  <table class="table">
    <tr>
      <th>Email</th>
      <td><%= mail_to @user.email %></td>
    </tr>
    <tr>
      <th>Join Date</th>
      <td><%= @user.created_at.strftime("%F") %></td>
    </tr>
    <tr>
      <th>Owner of</th>
      <td>
        <%- if @user.owned_organization.present? %>
          <%= link_to @user.owned_organization.name, organization_path(@user.owned_organization) %>
        <%- else %>
          (none)
        <%- end %>
      </td>
    </tr>
    <tr>
      <th>Member of</th>
      <td>
        <%- if @user.organization.present? %>
          <%= link_to @user.organization.name, organization_path(@user.organization) %>
        <%- else %>
          (none)
        <%- end %>
      </td>
    </tr>
  </table>
<%- end %>
