<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages" , model: @user %>

  <h2>Basic Information <small class="text-muted">(required)</small></h2>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "Confirm password" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.label :bio %>
  <%= f.text_area :bio, class: "form-control" %>

  <h2>Contact Information</h2>

  <%= f.label :linkedin %>
  <%= f.text_field :linkedin, class: "form-control" %>

  <%= f.label :twitter %>
  <%= f.text_field :twitter, class: "form-control" %>

  <%= f.label :website %>
  <%= f.text_field :website, class: "form-control" %>


  <%= f.submit label, class: "form-control btn btn-primary" %>
<%- end %>
