<div class="row">
  <div class="col-sm">
    <%= image_tag "profile.jpg", class: "img-thumbnail" %>
    <h1><%= @user.name %></h1>
    <p>
      Joined <%= time_ago_in_words(@user.created_at) %> ago
    </p>
    <p class="lead">
      <strong>Bio:</strong>
      <%= @user.bio %>
    </p>
  </div>
  <div class="col-sm">
    <%- if admin? %>
      <h2>Sensitive Info <small class="text-muted">This data is only visible to administrators.</small></h2>
      <table class="table">
        <tr>
          <th>Email</th>
          <td><%= mail_to @user.email %></td>
        </tr>
        <tr>
          <th>Join Date</th>
          <td><%= @user.created_at.strftime("%F") %></td>
        </tr>
      </table>
    <%- end %>
  </div>
</div>






