<div class="row">
  <div class="col-sm">
    <h1>My Account <span><%= link_to "Edit my account details", edit_user_path(@user), class: "btn btn-sm btn-primary" %></span></h1>

    <table class="table table-bordered">
      <tr>
        <th colspan=2>Basic Information</th>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Email address</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Password</th>
        <td><%= link_to "Change Password", user_change_password_path(current_user), class: 'btn-sm btn-primary' %></td>
      </tr>
      <tr>
        <th>Profile Photo</th>
        <td>
          <%- if @user.has_profile_photo? %>
            <%= image_tag @user.square_profile_photo, class: "img-thumbnail" %>
          <%- else %>
            (none set)
          <%- end %>
        </td>
      </tr>
      <tr>
        <th>Bio</th>
        <td><%= @user.bio %></td>
      </tr>
      <tr>
        <th colspan=2>Contact Information</th>
      </tr>
      <tr>
        <th>LinkedIn</th>
        <td><%= @user.linkedin %></td>
      </tr>
      <tr>
        <th>Twitter</th>
        <td><%= @user.twitter %></td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= @user.website %></td>
      </tr>
      <tr>
        <th colspan=2>Billing Information</th>
      </tr>
      <tr>
        <th>Plans</th>
        <td></td>
      </tr>
      <%- @user.subscriptions.each do |subscription| %>
        <tr>
          <td></td>
          <td>
            <%= subscription.plan.pretty_name %>
            <%- if subscription.active? %>
              <span class="badge badge-success">Active</span>
              <%= link_to "Switch my membership", edit_subscription_path(subscription), class: "btn btn-sm btn-primary" %>
            <%- else %>
              <span class="badge badge-warning">Deactivated <%= subscription.pretty_datetime %></span>
            <%- end %>
          </td>
        </tr>
      <%- end %>
    </table>
  </div>
  <div class="col-sm"></div>
</div>






