<% if user.subscriptions.active.count < 1 %>
  <div class="row">
    <div class="col text-center">
      No active memberships.
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <% if user.pending? %>
        <p class="text-center">
          <small>This user has a pending membership. If you'd like to add a different membership, please cancel that pending membership first.</small>
        </p>
      <% else %>
        <% if user.has_billing? || user.out_of_band? || user.bill_to_organization? %>    
          <%= render "operator/admin/subscriptions/form", subscription: Subscription.new, label: "Add membership", cc: false, user_id: user.id, show_start_day: true %>
        <% else %>
          <small><strong>NOTE</strong>: This user does not have a credit card on file. They will be required to enter a valid credit card number upon next login.</small>
          <%= render "operator/admin/subscriptions/form", subscription: Subscription.new, label: "Add membership", cc: false, user_id: user.id, show_start_day: true %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <dl class="row mt-3">
    <% user.subscriptions.for_operator(current_tenant).active.each do |subscription| %>
    <dt class="col-sm-3 text-center"><%= subscription.plan.plan_name %></dt>
      <dd class="col-sm text-center">
        <% if !subscription.has_stripe_subscription? %>
          <span class="badge badge-danger">Stripe error</span>
        <% end %>
        <p>
          Start date: <%= short_date(subscription.created_at) %>
        </p>
        <p>
          Billed to:
          <% if subscription.billable_type == "User" %>
            <%= link_to subscription.billable.name, user_path(subscription.billable) %>
          <% elsif subscription.billable_type == "Organization" %>
            <%= link_to subscription.billable.name, organization_path(subscription.billable) %>
          <% else %>
            <strong>Billed to:</strong> <span class="badge badge-danger"><%= subscription.billable_type %></span>
          <% end %>
        </p>
        <% if subscription.plan.has_day_limit? %>
          <p>Days remaining: <%= subscription.days_left %></p>
        <% end %>
        <div class="mt-3">
          <%= render "operator/subscriptions/form", subscription: subscription, label: "Update membership", cc: false, user_id: user.id, show_start_day: false %>
        </div>
        <div class="row mt-1">
          <%= link_to "Cancel membership", subscription_path(subscription), method: :delete, remote: true, class: "btn col mr-4 ml-4 btn-danger" %>
        </div>
      </dd>
    <% end %>
  </dl>
<% end %>

