<% title @user.name %>

<%= wide_card do %>
  <p class="lead text-center mb-3 mt-3">This data is only visible to administrators</p>
  <div class="row">
    <div class="ml-3">
      <%= render "shared/small_profile_photo", user: @user %>
    </div>
    <div class="ml-2">
      <h5 class="mb-1">
        <%= link_to @user.name, user_path(@user) %>
      </h5>
      <small>
        Joined
        <%= time_ago_in_words(@user.created_at) %>
        ago
        (<%= @user.created_at.strftime("%F") %>)
      </small>
    </div>
  </div>
  <dl class="row mt-3">
    <dt class="col-sm-3">Email address</dt>
    <dd class="col-sm" data-turbolinks="false"><%= mail_to @user.email %></dd>
  </dl>
  <dl class="row mt-3">
    <dt class="col-sm-3">Always has building access?</dt>
    <dd class="col-sm">
      <% if @user.always_allow_building_access? %>
        Yes
      <% else %>
        No
      <% end %>
    </dd>
  </dl>
  <div class="row mt-4">
    <div class="col">
      <%= render "admin", user: @user %>
    </div>
  </div>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Usage</h4>
  <%= render "usage", user: @user, usage_report: @usage_report %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Payment Method</h4>
  <%= render "payment_method", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Active Membership</h4>
  <%= render "memberships", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Pending Membership</h4>
  <%= render "pending_memberships", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Day Passes</h4>
  <%= render "day_passes", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Check-ins</h4>
  <%= render "checkins", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Organization</h4>
  <%= render "organization_form", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Invoices</h4>
  <div class="card-body list-group list-group-flush p-0">
    <% if @user.bill_to_organization? %>
      <%= link_to "Create new invoice", new_invoice_path(organization_id: @user.organization.id), class: "btn btn-block btn-primary" %>
    <% elsif @user.out_of_band? || @user.card_added? %>
      <%= link_to "Create new invoice", new_invoice_path(user_id: @user.id), class: "btn btn-block btn-primary" %>
    <% else %>
      <%= link_to "Create new invoice", "#", class: "btn btn-block btn-primary disabled" %>
      <div class="text-center">
        <small>Set a payment method to create a new invoice</small>
      </div>
    <% end %>

    <%= render "invoices", user: @user %>
  </div>
<% end %>

