<% title @user.name %>

<%= wide_card do %>
  <p class="lead text-center mb-3 mt-3">This data is only visible to administrators</p>
  <div class="row">
    <div class="ml-3">
      <%= render "shared/small_profile_photo", user: @user %>
    </div>
    <div class="ml-2">
      <h5 class="mb-1">
        <%= link_to @user.name, user_path(@user) %>
      </h5>
      <small>
        Joined
        <%= time_ago_in_words(@user.created_at) %>
        ago
        (<%= @user.created_at.strftime("%F") %>)
      </small>
    </div>
  </div>
  <dl class="row mt-3">
    <dt class="col-sm-3">Email address</dt>
    <dd class="col-sm"><%= mail_to @user.email %></dd>
  </dl>
  <dl class="row mt-3">
    <dt class="col-sm-3">Always has building access?</dt>
    <dd class="col-sm">
      <% if @user.always_allow_building_access? %>
        Yes
      <% else %>
        No
      <% end %>
    </dd>
  </dl>
  <div class="row mt-4">
    <div class="col">
      <%= render "admin", user: @user %>
    </div>
  </div>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Usage</h4>
  <div class="row">
    <div class="col">
      <%= @user.name %> has usage activity for <%= @usage_report.days_used_count %> <%= quantize(@usage_report.days_used, "day") %> this month:
    </div>
  </div>
  <dl class="row">
    <dt class="col-6">Day Passes</dt>
    <dd class="col"><%= @usage_report.day_passes.keys.count %> <%= quantize(@usage_report.day_passes.keys, "day") %></dd>
  </dl>
  <dl class="row">
    <dt class="col-6">Reservations</dt>
    <dd class="col"><%= @usage_report.reservations.keys.count %> <%= quantize(@usage_report.reservations.keys, "day") %></dd>
  </dl>
  <dl class="row">
    <dt class="col-6">Checkins</dt>
    <dd class="col"><%= @usage_report.checkins.keys.count %> <%= quantize(@usage_report.checkins.keys, "day") %></dd>
  </dl>
  <dl class="row">
    <dt class="col-6">Door Punches</dt>
    <dd class="col"><%= @usage_report.door_punches.keys.count %> <%= quantize(@usage_report.door_punches.keys, "day") %></dd>
  </dl>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Payment Method</h4>
  <%= render "payment_method", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Active Membership</h4>
  <%= render "memberships", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Pending Membership</h4>
  <%= render "pending_memberships", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Day Passes</h4>
  <%= render "day_passes", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Checkins</h4>
  <%= render "checkins", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Organization</h4>
  <%= render "organization_form", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Invoices</h4>
  <div class="card-body list-group list-group-flush p-0">
    <%= render "invoices", user: @user %>
  </div>
<% end %>

