<% title @user.name %>

<%= wide_card do %>
  <p class="lead text-center mb-3 mt-3">This data is only visible to administrators</p>
  <div class="row">
    <div class="ml-3">
      <%= render "shared/small_profile_photo", user: @user %>
    </div>
    <div class="ml-2">
      <h5 class="mb-1">
        <%= link_to @user.name, user_path(@user) %>
      </h5>
      <small>
        Joined
        <%= time_ago_in_words(@user.created_at) %>
        ago
        (<%= @user.created_at.strftime("%F") %>)
      </small>
    </div>
  </div>
  <dl class="row mt-3">
    <dt class="col-sm-3">Email address</dt>
    <dd class="col-sm"><%= mail_to @user.email %></dd>
  </dl>
  <dl class="row mt-3">
    <dt class="col-sm-3">Always has building access?</dt>
    <dd class="col-sm">
      <% if @user.always_allow_building_access? %>
        Yes
      <% else %>
        No
      <% end %>
    </dd>
  </dl>
  <div class="row mt-4">
    <div class="col">
      <%= render "admin", user: @user %>
    </div>
  </div>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Billing</h4>
  <%= render "billing", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Active Memberships</h4>
  <%= render "memberships", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Pending Memberships</h4>
  <%= render "pending_memberships", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Day Passes</h4>
  <%= render "day_passes", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Organization</h4>
  <%= render "organization_form", user: @user %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Invoices</h4>
  <%= render "invoices", user: @user %>
<% end %>
