<% title "My Reservations" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "My Account", user_path(@user) %></li>
  <li class="breadcrumb-item">My Reservations</li>
<% end %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">My Reservations</h4>
  <% end %>

  <% if @reservations.count < 1 %>
    <%= list_item do %>
      <p class="lead text-center">No upcoming reservations.</p>
    <% end %>
  <% else %>
    <% @reservations.each do |res_hash| %>
      <%= list_item do %>
        <div class="row">
          <div class="col">
            <%= render "operator/events/time_bucket_header", date: res_hash.first %>
          </div>
        </div>
        <%= list_wrapper do %>
          <% res_hash.last.each do |reservation| %>
            <div class="row mt-2 mb-5">
              <div class="col">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <span class="text-danger">
                          <%= pretty_time(reservation.datetime_in) %>
                        </span>
                        for <%= reservation.minutes %> minutes
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Location: <%= link_to reservation.room.name, room_path(reservation.room) %>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
