<%= form_for(operator, remote: true) do |f| %>
  <%= render "shared/error_messages" , model: operator %>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Name", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :snippet %>
    <%= f.text_field :snippet, placeholder: "Snippet", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :wifi_name %>
    <%= f.text_field :wifi_name, placeholder: "WiFi Name", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :wifi_password %>
    <%= f.text_field :wifi_password, placeholder: "WiFi Password", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :building_address %>
    <%= f.text_field :building_address, placeholder: "Building Address", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain, placeholder: "Subdomain", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name, placeholder: "Contact Name", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email, placeholder: "Contact Email", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :contact_phone %>
    <%= f.text_field :contact_phone, placeholder: "Contact Phone Number", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :square_footage %>
    <%= f.number_field :square_footage, placeholder: "Square Footage", class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :background_image %>
    <%= f.file_field :background_image, placeholder: "Background Image File Path", class: "col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label :logo_image %>
    <%= f.file_field :logo_image, placeholder: "Logo File Path", class: "col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label "Approval Required" %>
    <%= f.check_box :approval_required, class: "form-control col" %>
    <div class="col-1"></div>
  </div>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.label "Email Enabled" %>
    <%= f.check_box :email_enabled, class: "form-control col" %>
    <div class="col-1"></div>
  </div>

  <%= f.submit "Save/Update", class: "btn btn-primary" %>
<%- end %>