<table class="table table-sm mt-2">
  <tr>
    <th><small>Status</small></th>
    <th><small>Operator</small></th>
    <th><small>Active Members</small></th>
    <th><small>Members on active leases</small></th>
    <th><small>Day Passes (last 30 days)</small></th>
    <th><small>Active leases</small></th>
    <th><small>Total members</small></th>
    <th><small>Square footage</small></th>    
  </tr>
  <% reports.each do |report| %>
    <tr>
      <td>
        <%- if report.operator.production? %>
          <span class="badge badge-success">Production</span>
        <%- else %>
          <span class="badge badge-info">Demo</span>
        <%- end %>
      </td>
      <td><%= link_to report.name, operator_path(report.operator) %></td>
      <td><%= report.active_member_count %></td>
      <td><%= report.active_lease_member_count %></td>
      <td><%= report.last_30_day_pass_count %></td>
      <td><%= report.active_lease_count %></td>
      <td><%= report.all_member_count %></td>
      <td><%= number_with_delimiter(report.operator.square_footage) %></td>
      <td>
        <%= link_to "Visit", landing_url(subdomain: report.operator.subdomain), class: "btn btn-sm btn-primary", target: "_blank" %>
        <%= link_to "Edit", edit_operator_path(report.operator), class: "btn btn-sm btn-info" %>
      </td>
    </tr>
  <% end %>
</table>