<table class="table table-sm mt-2">
  <tr>
    <th><small>Status</small></th>
    <th><small>Operator</small></th>
    <th><small>Active Members</small></th>
    <th><small>Members on active leases</small></th>
    <th><small>Day Passes (last 30 days)</small></th>
    <th><small>Active leases</small></th>
    <th><small>Total members</small></th>
    <th><small>Square footage</small></th>    
  </tr>
  <%- operators.each do |operator| %>
    <tr>
      <td>
        <%- if operator.production? %>
          <span class="badge badge-success">Production</span>
        <%- else %>
          <span class="badge badge-info">Demo</span>
        <%- end %>
      </td>
      <td><%= link_to operator.name, operator_path(operator) %></td>
      <td><%= operator.active_members %></td>
      <td><%= operator.total_active_lease_members %></td>
      <td><%= operator.total_day_passes %></td>
      <td><%= operator.total_active_leases %></td>
      <td><%= operator.total_members %></td>
      <td><%= number_with_delimiter(operator.square_footage) %></td>
      <td>
        <%= link_to "Visit", landing_url(subdomain: operator.subdomain), class: "btn btn-sm btn-primary", target: "_blank" %>
        <%= link_to "Edit", edit_operator_path(operator), class: "btn btn-sm btn-info" %>
        <%= link_to "Delete", operator_path(operator), method: :delete, data: { confirm: "Are you sure?"},  class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
  <%- end %>
</table>