<% title "Dashboard" %>

<%= list_wrapper do %>
  <%= list_item do %>
    <div class="row">
      <div class="col">
        <%= line_chart Operator.group_by_month(:created_at).count %>
      </div>
    </div>
  <% end %>

  <%= list_item do %>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg">
        <p class="lead"><%= @production_reports.count + @demo_reports.count %> total instances</p>
      </div>
      <div class="col-lg">
        <p class="lead"><%= @production_reports.count %> Stripe-connected instances</p>
      </div>
      <div class="col-lg">
        <p class="lead"><%= number_with_delimiter(@production_reports.sum(&:square_footage)) %> square footage</p>
      </div>
      <div class="col-lg-1"></div>
    </div>

    <div class="row mt-4">
      <div class="col-lg-1"></div>
      <div class="col-lg">
        <p class="lead"><%= @production_reports.sum(&:active_member_count) %> active memberships</p>
      </div>

      <div class="col-lg">
        <p class="lead"><%= @production_reports.sum(&:active_lease_member_count) %> members under active leases</p>
      </div>
      <div class="col-lg">
        <p class="lead"><%= @production_reports.sum(&:staff_count) %> active staff members</p>
      </div>

      <div class="col-lg-1"></div>
    </div>
  <% end %>

  <%= list_item do %>
    <div class="row mt-5">
      <div class="col-lg-1"></div>
      <div class="col">
        <p class="lead">All Instances</p>
        <%= render "operators_table", reports: @all_reports %>

      </div>
      <div class="col-lg-1"></div>
    </div>
  <% end %>
<% end %>
