<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg">
    <h4 class="display-4"><%= @production_operators.count %> production spaces</h4>
  </div>
  <div class="col-lg">
    <h4 class="display-4"><%= @active_memberships %> active memberships</h4>
  </div>
  <div class="col-lg">
    <h4 class="display-4"><%= @active_staff %> active staff members</h4>
  </div>
  <div class="col-lg-1"></div>
</div>

<div class="row mt-5">
  <div class="col-lg-1"></div>
  <div class="col">
    <%= link_to "New Operator", new_operator_path, class: "btn btn-primary btn-sm" %>
    <%= link_to "Generate Demo Instance", demo_instance_operators_path, class: "btn btn-sm btn-warning" %>

    <h3 class="display-3">Production Instances</h3>
    <%= render "operators_table", operators: @production_operators %>

    <h3 class="display-3">Demo Instances</h3>
    <%= render "operators_table", operators: @demo_operators %>    

  </div>
  <div class="col-lg-1"></div>
</div>
