<div class="row">
  <div class="col"></div>
  <div class="col">
    <h2><%= @operator.name %></h2>
    <%= link_to "Edit", edit_operator_path(@operator), class: "btn btn-info" %>
    <table class="table">
      <tr>
        <th>Snippet</th>
        <td><%= @operator.snippet %></td>
      </tr>
      <tr>
        <th>Wifi Name</th>
        <td><%= @operator.wifi_name %></td>
      </tr>
      <tr>
        <th>Wifi Password</th>
        <td><%= @operator.wifi_password %></td>
      </tr>
      <tr>
        <th>Building Address</th>
        <td><%= @operator.building_address %></td>
      </tr>
      <tr>
        <th>Approval required for new members</th>
        <td><%= @operator.approval_required %></td>
      </tr>
      <tr>
        <th>Subdomain</th>
        <td><%= @operator.subdomain %></td>
      </tr>
      <tr>
        <th>Day Pass Product ID</th>
        <td>
          <%- if @operator.has_day_pass_product? %>
            <pre><%= @operator.stripe_day_pass_product_id %></pre>
          <%- else %>
            <%= link_to "Add Day Pass Product", operator_add_day_pass_product_path(@operator), class: "btn btn-sm btn-primary" %>
          <%- end %>
        </td>
      </tr>
      <tr>
        <th>Day Pass Cost</th>
        <td><%= number_to_currency(@operator.day_pass_cost_in_cents.to_f / 100.0) %></td>
      </tr>
      <tr>
        <th>Contact Name</th>
        <td><%= @operator.contact_name %></td>
      </tr>
      <tr>
        <th>Contact email</th>
        <td><%= @operator.contact_email %></td>
      </tr>
      <tr>
        <th>Square Footage</th>
        <td><%= @operator.square_footage %></td>
      </tr>
      <tr>
        <th>Logo</th>
        <td>
          <%- if @operator.logo_image.attached? %>
            <%= image_tag(@operator.logo_image.variant(resize: "500x500")) %>
          <%- else %>
            <i>none</i>
          <%- end %>
        </td>
      </tr>
      <tr>
        <th>Background</th>
        <td>
          <%- if @operator.background_image.attached? %>
            <%= image_tag(@operator.background_image.variant(resize: "500x500")) %>
          <%- else %>
            <i>none</i>
          <%- end %>
        </td>
      </tr>
       <tr>
        <th>Contact phone number</th>
        <td><%= @operator.contact_phone %></td>
      </tr>
      <tr>
        <th>Email Enabled?</th>
        <th><%= @operator.email_enabled? %></th>
      </tr>
    </table>
  </div>
  <div class="col"></div>
</div>