<div class="card border-light mb-1">
  <div class="card-body">
    <div class="row p-3">
      <div>
        <%= image_tag room.square_photo, style: "width: 100px;" %>
      </div>
      <div class="ml-2">
        <h3 class="mb-1">
          <%= link_to room.name, room_path(room) %>
        </h3>
        <%- if room.whiteboard? %>
          <span class="badge badge-info mr-1">Whiteboard</span>
        <%- end  %>
        <%- if room.av? %>
          <span class="badge badge-success mr-1">AV equipment</span>
        <%- end   %>
        <br />
        Seats <strong><%= room.capacity %></strong>
        <%- if room.capacity > 1 %>
          people
        <%- else %>
          person
        <%- end %>
        <br />
        <%- if room.available_now? %>
          <%= render "reservation_button", room: room, datetime_in: Time.current.beginning_of_hour, label: "Reserve Now" %>
        <%- end %>
        &nbsp;
        <%= link_to "Reserve later", room_day_availability_path(room, day: Time.zone.today.day, month: Time.zone.today.month, year: Time.zone.today.year), class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
      