<%- title "Edit #{@room.name}" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Rooms", rooms_path %></li>
  <li class="breadcrumb-item"><%= link_to @room.name, room_path(@room) %></li>
  <li class="breadcrumb-item active">Edit</li>
<% end %>

<%= render Layout::FullWidth.new do %>
  <%= list_item do %>
    <h4 class="display-4 text-center mt-4">Manage Room</h4>
    <%= form_with(model: @room, url: room_path(@room), remote: true) do |f| %>
      <%= render "shared/error_messages", model: room %>

      <%= render "operator/rooms/form_fields", f: f %>

      <%= f.submit "Update room", class: "btn btn-block btn-primary" %>
    <%- end %>

    <div class="row mt-2">
      <div class="col">
        <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete-room-modal">
          Delete this room
        </button>
      </div>
    </div>

    <%= render Bootstrap::Modal.new(id: "delete-room-modal") do %>
      <h5 class="modal-title">Delete Room</h5>
      <div>
        <strong>Warning:</strong> This action cannot be undone. Deleting this room will permanently remove:
        <ul>
          <li>All room information (name, amenities, photo,...)</li>
          <li>All reservation history</li>
        </ul>

        <% if !policy(@room).destroy? %>
          <div class="alert alert-danger">
            <strong>Note:</strong> This room cannot be deleted because it has at least one active office lease or subscription.
          </div>
        <% end %>

        <%= button_to "Confirm", room_path(@room), method: :delete, class: "btn btn-block btn-danger", disabled: !policy(@room).destroy? %>
      </div>    
    <% end %>
    <div class="row mt-2">
      <div class="col-12">
        <%- if !ios_request? %>
          <%= link_to "Cancel", room_path(@room), class: "btn btn-block btn-warning", data: {"turbo-action" => "replace"} %>
        <%- end %>
      </div>
    </div>
  <% end %>
<% end %>