<% title "Rooms & Reservations" %>

<% if admin? %>
  <%= wide_card do %>
    <h4 class="display-4 text-center">Rooms & Reservations</h4>
    <p>
      Showing rooms for <strong><%= current_location.name %></strong>. Switch locations to manage rooms at other locations.
    </p>
    <%= link_to "Add a new room", new_room_path, class: "btn btn-block btn-primary" %>
  <% end %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Visible Rooms</h4>
  <% if @rooms.count < 1 %>
    <i>All rooms are hidden.</i>
  <% else %>
    <%= render @rooms %>
  <% end %>
<% end %>

<% if admin? %>
  <%= wide_card do %>
    <h4 class="display-4 text-center">Hidden Rooms</h4>
    <% if @hidden_rooms.count < 1 %>
      <i>All rooms are visible.</i>
    <% else %>
      <%= render @hidden_rooms %>
    <% end %>
  <% end %>
<% end %>
