<%= javascript_include_tag "stripe_handler.js" %>

<%= form_for(subscription, remote: true, html: {id: "stripe-form" }) do |f| %>
  <%= render "shared/error_messages", model: subscription %>
  
  <div class="form-group row">
    <div class="col-1"></div>
    <%- if admin? %>
      <%= f.select :plan_id, Plan.all_options_for_select, {}, { class: "form-control form-control-sm col" } %>
    <%- else %>
      <%= f.select :plan_id, Plan.options_for_select, {}, { class: "form-control form-control-sm col" } %>
    <%- end %>
    <div class="col-1"></div>
  </div>
  <%- if defined?(user_id) %>
    <%= f.hidden_field :user_id, value: user_id %>
  <%- end %>

  <%- if cc %>
    <div class="form-group row">
      <div class="col-1"></div>
      <%= render "shared/billing", show_check_option: false %>
      <div class="col-1"></div>
    </div>
  <%- end %>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.submit label, class: "form-control btn btn-primary col" %>
    <div class="col-1"></div>
  </div>
<%- end %>
