<div class="row">
  <div class="col">
    <h5><%= subscription.plan.name %></h5>
  </div>
</div>

<dl class="row mt-3">
  <dt class="col-6">Status</dt>
  <dd class="col">
    <% if subscription.active? %>
        <% if subscription.paused? %>
          <span class="badge badge-warning">Paused</span>
        <% else %>
          <span class="badge badge-success">Active</span>
        <% end %>
    <% else %>
      <span class="badge badge-warning">
        Canceled
        <% if subscription.has_canceled_at? %>  
          <%= short_date(subscription.canceled_at) %>
        <% end %>
      </span>
    <% end %>  
  </dd>
</dl>

<dl class="row mt-3">
  <dt class="col-6">Set to Cancel at Billing Period End?</dt>
  <dd class="col">
  <% if subscription.cancelling_at_end_of_billing_period? %>
      <span class="badge badge-warning">
        Yes,
        <% if subscription.has_period_end? %>
          <%= short_date(subscription.current_period_end) %>
        <% end %>
      </span>
    <% else %>
      <span class="badge badge-success">No</span>
    <% end %>
  </dd>
</dl>


<dl class="row mt-3">
  <dt class="col-6">Price</dt>
  <dd class="col">
    <%= subscription.plan.pretty_price %>
  </dd>
</dl>

<dl class="row mt-3">
  <dt class="col-6">Start Date</dt>
  <dd class="col">
    <%= short_date(subscription.start_date) %>
  </dd>
</dl>

<dl class="row mt-3">
  <dt class="col-6">End Date</dt>
  <dd class="col">
    <% if subscription.has_end_date? %>
      <%= short_date(subscription.end_date) %>
    <% else %>
      None
    <% end %>
  </dd>
</dl>

<% if policy(:credit).enabled? && subscription.subscribable.class == User %>
  <dl class="row mt-3">
    <dt class="col-6">Current credit balance</dt>
    <dd class="col">
      <%= number_with_delimiter(subscription.subscribable.credit_balance) %>
    </dd>
  </dl>
<% end %>

<% if policy(:childcare).enabled? && subscription.subscribable.class == User %>
  <dl class="row mt-3">
    <dt class="col-6">Current childcare reservation balance</dt>
    <dd class="col">
      <%= number_with_delimiter(subscription.subscribable.childcare_reservation_balance) %>
    </dd>
  </dl>
<% end %>

<% if subscription.active? %>
  <% if policy(:credit).enabled? %>
    <div class="row mt-3">
      <div class="col">
        <%= link_to "Buy more credits", new_credit_purchase_path, class: "btn btn-block btn-success" %>
      </div>
    </div>
  <% end %>
  <% if !subscription.has_stripe_subscription? %>
    <div class="row">
      <div class="col">
        <span class="text-danger">
          <strong>Stripe sync error</strong>
          <br />
          <p>This membership is not in sync with Stripe. Please email <%= mail_to "hello@jellyswitch.com", "hello@jellyswitch.com" %> to resolve.
        </span>
      </div>
    </div>
  <% else %>
    <div class="row mt-3">
      <div class="col">
        <%= link_to "Change membership", edit_subscription_path(subscription), class: "btn btn-block btn-primary" %>
      </div>
    </div>

    <% if subscription.paused? %>
      <div class="row mt-3">
        <div class="col">
          <%= link_to "Reactivate membership", reactivate_membership_path(subscription), method: :delete, class: "btn btn-block btn-success" %>
        </div>
      </div>
    <% else %>
        <div class="row mt-3">
          <div class="col">
            <%= link_to "Cancel membership", "#", data: { toggle: "modal", target: "#cancelMembershipModal"}, class: "btn btn-block btn-danger" %>
          </div>
        </div>
    <% end %>

    <!-- Cancel membership Modal -->
    <div class="modal fade" aria-labelledby="cancelMembershipModalLabel" role="dialog" aria-hidden="true" id="cancelMembershipModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Cancel, Downgrade, or Pause Membership</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- TODO: Display plans in modal
            <%# current_tenant.locations.plans do |plan| %>
              <%# plan.name %>
              <%# plan.pretty_amount %>
              <br />
            <%# end %>
            -->
          </div>
          <div class="modal-footer">
            <div class="row mt-3">
              <div class="col">
                <%= link_to "Pause Membership (30 days)", pause_membership_path(subscription, resumes_at: 30), method: :post, class: "btn btn-sm btn-warning" %>
                <%= link_to "Pause Membership (60 days)", pause_membership_path(subscription, resumes_at: 60), method: :post, class: "btn btn-sm btn-warning" %>
                <%= link_to "Pause Membership (90 days)", pause_membership_path(subscription, resumes_at: 90), method: :post, class: "btn btn-sm btn-warning" %>
                <%= link_to "Pause Membership (indefinitely)", pause_membership_path(subscription), method: :post, class: "btn btn-sm btn-warning" %>
                <%= link_to "Cancel Membership", subscription_path(subscription), data: { dismiss: "modal" }, method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
                <%= link_to "Close", "#", data: { dismiss: "modal" }, class: "btn btn-sm btn-secondary" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>  
<% end %>