<%- title "Memberships" %>

<%= render Layout::FullWidth.new do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">
      <i class="fas fa-users"></i>
      &nbsp;
      Memberships
    </h4>
  <% end %>
  <% if current_location.plans.individual.visible.available.count == 1 %>
    <%= list_item do %>
      <%= render(MemberOnboarding::Membership.new(plan: current_location.plans.individual.visible.available.first)) %>
    <% end %>
  <% else %>
    <%= list_item do %>
      <%= render "operator/subscriptions/plan_categories", location: current_location %>
    <% end %>
  <% end %>
<% end %>