<%- title "Memberships" %>

<%= render Layout::FullWidth.new do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">
      <i class="fas fa-users"></i>
      &nbsp;
      <% if @plan_category.present? %>
        <%= @plan_category.name.titleize %> Plans
      <% else %>
        Plans
      <% end %>
    </h4>
  <% end %>
  <% @plans.map do |plan| %>
    <%= list_item do %>
      <%= render(MemberOnboarding::Membership.new(plan: plan)) %>
    <% end %>
  <% end %>
<% end %>