<div class="row">
  <div class="col-4">
    <% if office.photo.attached? %>
      <%= image_tag office.thumbnail, class: "rounded img-fluid" %>
    <% else %>
      <%= image_tag "profile-125x125.jpg", class: "rounded img-fluid" %>
    <% end %>
  </div>
  <div class="col-8">
    <div class="row">
      <h5 class="col"><%= office.name %></h5>
    </div>
    <div class="row">
      <%= render "operator/offices/subheader", office: office %>
    </div>
    <div class="row">
      <div class="col">
        <%= simple_format(auto_link(office.description)) %>
      </div>
    </div>
  </div>
</div>


<div class="row mt-2">
  <div class="col">
    <i class="fas fa-tachometer-alt"></i>
    &nbsp;
    Comfortably seats 
    <strong>
      <%= office.capacity %> <%= quantize(office.capacity, "person") %>
    </strong>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <i class="fas fa-tachometer-alt"></i>
    &nbsp;
    Size: 
    <strong>
      <%= number_with_delimiter(office.square_footage) %> sq ft
    </strong>
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    <%= link_to "Edit office details", edit_office_path(office), class: "btn btn-block btn-secondary" %>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <% if office.has_active_lease? %>
      <% office.active_leases.each do |lease| %>
        <%= link_to office_lease_path(lease), class: "btn btn-block btn-primary" do %>
          <i class="fas fa-file-alt"></i>
          &nbsp;
          Manage active lease
        <% end %>
      <% end %>
    <% else %>
      <%= link_to new_office_lease_path, class: "btn btn-block btn-primary" do %>
        <i class="fas fa-file-alt"></i>
        &nbsp;
        Add a lease
      <% end %>
    <% end %>
  </div>
</div>

<% if current_user.superadmin? %>
  <div class="row mt-2">
    <div class="col">
      <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#delete-office-modal">
        Delete this office
      </button>
    </div>
  </div>

  <%= render Bootstrap::Modal.new(id: "delete-office-modal") do %>
    <h5 class="modal-title">Delete Office</h5>
    <div>
      <strong>Warning:</strong> This action cannot be undone. Deleting this office will permanently remove:
      <ul>
        <li>All office information (name, description, capacity, etc.)</li>
        <li>All associated office lease history and data</li>
      </ul>

      <% if @office.has_active_lease? %>
        <div class="alert alert-danger">
          <strong>Note:</strong> This office cannot be deleted because it has an active lease.
        </div>
      <% end %>

      <%= button_to "Confirm", office_path(@office), method: :delete, class: "btn btn-block btn-danger", disabled: @office.has_active_lease? %>
    </div>    
  <% end %>
<% end %>
<hr />

<% if (upcoming_leases = office.office_leases.upcoming).any? %>
  <div class="row">
    <div class="col">
      <h5 class="display-5 text-center">Upcoming Leases</h5>

      <% upcoming_leases.each do |lease| %>
        <%= render "operator/offices/lease_card", lease: lease %>
      <% end %>
    </div>
  </div>

  <hr />
<% end %>


<div class="row">
  <div class="col">
    <h5 class="display-5 text-center">Expired Leases</h5>

    <% if office.office_leases.inactive.count < 1 %>
      No expired leases on file.
    <% else %>
      <% office.office_leases.inactive.each do |lease| %>
        <%= render "operator/offices/lease_card", lease: lease %>
      <% end %>
    <% end %>
  </div>
</div>
