<%= form_for(@organization, remote: true) do |f| %>
  <%= render "shared/error_messages" , model: @organization %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :owner %>
    <%= f.select :owner_id, User.lease_options_for_select(current_tenant), {}, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :billing_contact %>
    <% if @organization.can_change_billing_contact? %>

      <%= f.select :billing_contact_id, User.lease_options_for_select(current_tenant), {}, { class: "form-control" } %>

    <% else %>

      <%
          snippet = "If you wish to designate a billing contact,\nthe following must first be cancelled:\n"

          @organization.active_subscriptions.each do |subscription|
            snippet.concat("#{subscription.subscribable.name}'s #{subscription.plan.name} Membership\n")
          end

          @organization.active_leases.each do |office_lease|
            snippet.concat("#{office_lease.subscription.subscribable.name}'s Office Lease ending #{office_lease.pretty_date}\n")
          end
      %>

      <div class="form-group">
        <div class="row-12">
          <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= snippet %>">
            <i class="fas fa-exclamation-triangle"></i>
            <%= f.select :billing_contact_id, ["disabled"], {}, { disabled: true, class: "form-control fas fa-exclamation-triangle" } %>
          </span>
        </div>
      </div>

      <div class="form-group mt-3 col-6">
        <strong>If you wish to designate a billing contact, the following must first be cancelled:</strong>

        <% @organization.active_subscriptions.each do |subscription| %>
          <li><%=link_to "#{subscription.subscribable.name}'s #{subscription.plan.name} Membership", user_membership_path(user_id: subscription.subscribable) %></li>
        <% end %>

        <% @organization.active_leases.each do |office_lease| %>
          <li><%= link_to "#{office_lease.subscription.subscribable.name}'s Office Lease ending #{office_lease.pretty_date}", office_lease_path(office_lease) %></li>
        <% end %>

    <% end %>
  </div>

  <%= f.submit label, class: "form-control btn btn-primary" %>
<% end %>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>