
<%- title "Groups" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Members & Groups", members_groups_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Groups</li>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Groups</h4>
  <div class="row mb-3 mt-3">
    <%- if admin? %>
      <%= link_to "Add a new group", new_organization_path, class: "btn btn-block btn-primary" %>
    <%- end %>
  </div>
  <div class="list-group list-group-flush mt-4">
    <%= render @organizations, view: true %>
  </div>


  <table class="table">
    <tr>
      <th>Group</th>
      <th>Owner</th>
      <th>Members</th>
    </tr>
    <%- @organizations.all.each do |org| %>
      <tr>
        <td><%= link_to org.name, organization_path(org) %></td>
        <td><%= link_to org.owner.name, user_path(org.owner) %></td>
        <td><%= org.users.count %></td>
      </tr>
    <%- end %>
  </table>
<% end %>
