<% title @organization.name %>

<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4"><%= @organization.name %></h4>
      <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-sm btn-primary" %>

      <dl class="row">
        <dt class="col-sm-3">Owner</dt>
        <dd class="col-sm">
          <%= link_to @organization.owner.name, user_path(@organization.owner) %>
        </dd>
      </dl>

      <dl class="row">
        <dt class="col-sm-3">Created</dt>
        <dd class="col-sm">
          <%= time_ago_in_words(@organization.created_at) %> ago
        </dd>
      </dl>

      <h4 class="display-4 text-center mt-4">Members</h4>
      <p class="text-muted text-center">(Right-click or CMD-click to select multiple)</p>
      <%= render 'add_members', organization: @organization %>
      <% @organization.users.each do |member| %>
        <%= render "operator/users/member_card", member: member %>
      <% end %>

    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
