<% title @organization.name %>

<%= wide_card do %>
  <h4 class="display-4 text-center"><%= @organization.name %></h4>

  <dl class="row">
    <dt class="col-sm-3">Owner</dt>
    <dd class="col-sm">
      <%= link_to @organization.owner.name, user_path(@organization.owner) %>
    </dd>
  </dl>

  <dl class="row">
    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm">
      <%= time_ago_in_words(@organization.created_at) %> ago
    </dd>
  </dl>

  <dl class="row">
    <dt class="col-sm-3">Payment Method</dt>
    <dd class="col-sm">
      <% if @organization.out_of_band %>
        Organization is paying via cash, check, or otherwise.
      <% else %>
        Organization has a card on file. 
      <% end %>
    </dd>
  </dl>

  <%= link_to "Edit", edit_organization_path(@organization), class: "btn btn-block btn-primary" %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Members</h4>

  <p class="text-muted text-center">(Right-click or CMD-click to select multiple)</p>

  <%= render 'add_members', organization: @organization %>

  <% @organization.users.each do |member| %>
    <%= render "operator/users/member_card", member: member %>
  <% end %>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Leases</h4>

  <% if @organization.has_active_lease? %>
    <% @organization.active_leases.each do |lease| %>
      <div class="row">
        <p>
          Leased <%= link_to lease.office_name, office_path(lease.office) %> (<%= pretty_price(lease) %> until <%= short_date(lease.end_date) %>)
        </p>
        <%= link_to "View Lease", office_lease_path(lease), class: "btn btn-block btn-primary" %>
      </div>      
    <% end %>
  <% end %>

<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Invoices</h4>

  <table class="table">
    <tr>
      <th>Invoice</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @organization.invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.status %></td>
        <td>
          <% if invoice.open? %>
            <%= link_to "Mark as paid", invoice_mark_paid_path(invoice), class: "btn btn-sm btn-primary" %>
          <% end %>
          <%= link_to "Download PDF", invoice.pdf_url, class: "btn btn-sm btn-info", target: "_blank" %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>