<%= form_for(subscription) do |f| %>
  <%= render "shared/error_messages", model: subscription %>
  
  <div class="form-group row">
    <%= f.label "Membership", class: "col-sm-3 text-right mt-2" %>
    <%= f.select :plan_id, Plan.options_for_select, {}, { class: "form-control col" }%>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 text-right mt-2">Billing</label>
    <div class="col ml-0 pl-0 pr-0">
      <input type="text" class="form-control" placeholder="Credit Card" />
      <div class="form-check">
        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label">I want to pay via ACH / Check</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-9"></div>
    <%= f.submit label, class: "form-control btn btn-primary col" %>
  </div>
<%- end %>
