<%= javascript_include_tag "stripe_handler.js" %>

<%= form_for(subscription, remote: false, html: {id: "stripe-form" }) do |f| %>
  <%= render "shared/error_messages", model: subscription %>
  
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.select :plan_id, Plan.options_for_select, {}, { class: "form-control form-control-sm col" }%>
    <div class="col-1"></div>
  </div>
  <%- if user_id %>
    <%= f.hidden_field :user_id, value: user_id %>
  <%- end %>

  <%- if cc %>
    <div class="form-group row">
      <div class="col-1"></div>
      <%= render "shared/billing", show_check_option: true %>
      <div class="col-1"></div>
    </div>
  <%- end %>
  <div class="form-group row">
    <div class="col-1"></div>
    <%= f.submit label, class: "form-control btn btn-primary col" %>
    <div class="col-1"></div>
  </div>
<%- end %>
