<%= form_for(subscription, remote: true) do |f| %>
  <%= render "shared/error_messages", model: subscription %>
  
  <div class="form-group row">
    <%= f.label "Membership", class: "col-sm-3 text-right mt-2" %>
    <%= f.select :plan_id, Plan.options_for_select, {}, { class: "form-control col" }%>
  </div>

  <%- if cc %>
    <div class="form-group row">
      <%= render "shared/billing", show_check_option: true %>
    </div>
  <%- end %>
  <div class="form-group row">
    <div class="col-sm-9"></div>
    <%= f.submit label, class: "form-control btn btn-primary col" %>
  </div>
<%- end %>
