<%= list_item do %>
  <h4 class="display-4 text-center">Global Settings</h4>

  <h5>Configuration</h5>
  <dl>
    <%= render(OnOffSwitch.new(predicate: operator.approval_required?, path: operator_operator_approval_required_path(operator))) do %>
      Approval required for new members
    <% end %>

    <%= render(OnOffSwitch.new(predicate: operator.checkin_required?, path: operator_operator_checkin_required_path(operator))) do %>
      Require check-in (even for day passers and members)
    <% end %>

  </dl>

  <hr />
  <h5>About</h5>
  <dl>
    <dt>Name</dt>
    <dd><%= operator.name %></dd>

    <dt>Homepage description</dt>
    <dd><%= operator.snippet %></dd>

    <dt>Membership Text</dt>
    <dd>
      <% if operator.membership_text.present? %>
        <%= operator.membership_text %>
      <% else %>
        <i>None</i>
      <% end %>
    </dd>

    <dt>More info</dt>
    <dd>Details like contact info, square footage, wifi, address, stripe and kisi keys are moved into each location</dd>

    <% current_tenant.locations.each do |location| %>
      <% if policy(location).edit? %>
        <dt><%= link_to "Manage #{location.name}", edit_location_path(location) %></dt>
      <% end %>
    <% end %>
    <dd></dd>

    <dt>Subdomain</dt>
    <dd><pre><%= operator.subdomain %></pre></dd>

    <dt>iOS App Store Link</dt>
    <dd>
      <%- if operator.ios_url.present? %>
        <%= link_to "View in App Store", operator.ios_url, target: "_blank" %>
      <%- else %>
        <i>Not Entered</i>
      <%- end %>
    </dd>

    <dt>iOS Bundle ID</dt>
    <dd>
      <%- if operator.bundle_id.present? %>
        <pre><%= operator.bundle_id %></pre>
      <%- else %>
        <i>Not Entered</i>
      <%- end %>
    </dd>


    <dt>Android App Store Link</dt>
    <dd>
      <%- if operator.android_url.present? %>
        <%= link_to "View in Google Play", operator.android_url, target: "_blank" %>
      <%- else %>
        <i>Not Entered</i>
      <%- end %>
    </dd>

    <dt>Terms of Service</dt>
    <dd>
      <%- if operator.terms_of_service.attached? %>
        <%= link_to "Download", rails_blob_path(operator.terms_of_service, disposition: 'attachment') %>
      <%- else %>
        <i>Not uploaded</i>
      <%- end %>
    </dd>

    <dt>Logo</dt>
    <dd>
      <%- if operator.logo_image.attached? %>
        <%= %>
        <%= link_to "Download", rails_blob_path(operator.logo_image, disposition: "attachment") %>
      <%- else %>
        <i>Not uploaded</i>
      <%- end %>
    </dd>

    <dt>Background</dt>
    <dd>
      <%- if operator.background_image.attached? %>
        <%= link_to "Download", rails_blob_path(operator.background_image, disposition: "attachment") %>
      <%- else %>
        <i>Not uploaded</i>
      <%- end %>
    </dd>
  </dl>

  <% if policy(:operator).edit? %>
    <%= link_to "Customize Jellyswitch", edit_operator_path(operator, subdomain: operator.subdomain), class: "btn btn-block btn-info" %>
  <% end %>
<% end %>