<%= link_to "Edit", edit_operator_path(@operator, subdomain: operator.subdomain), class: "btn btn-info" %>

<h4 class="display-4 mt-3">Basic Settings</h4>
<dl>
  <dt>Name</dt>
  <dd><%= operator.name %></dd>

  <dt>Homepage description</dt>
  <dd><%= operator.snippet %></dd>
  
  <dt>Contact Name (for members)</dt>
  <dd><%= operator.contact_name %></dd>

  <dt>Contact email (for members)</dt>
  <dd><%= operator.contact_email %></dd>

  <dt>Contact phone (for members)</dt>
  <dd><%= operator.contact_phone %></dd>

  <dt>Square Footage</dt>
  <dd><%= operator.square_footage %></dd>

  <dt>Wifi Name</dt>
  <dd><%= operator.wifi_name %></dd>

  <dt>Wifi Password</dt>
  <dd><%= operator.wifi_password %></dd>

  <dt>Building Address</dt>
  <dd><%= operator.building_address %></dd>
</dl>
<hr />
<h4 class="display-4 mt-3">Jellyswitch Customization</h4>
<dl>
  <dt>Billing</dt>
  <dd>
    <%= link_to "Connect with Stripe", stripe_oauth_url(current_tenant), class: "btn btn-sm btn-primary" %>
  </dd>

  <dt>Subdomain</dt>
  <dd><pre><%= operator.subdomain %></pre></dd>

  <dt>Approval required for new members</dt>
  <dd>
    <%- if operator.approval_required %>
      Yes
    <%- else %>
      No
    <%- end %>
  </dd>

  <dt>Terms of Service</dt>
  <dd>
    <%- if operator.terms_of_service.attached? %>
      <%= link_to "Download", rails_blob_path(operator.terms_of_service, disposition: 'attachment') %>
    <%- else %>
      <i>Not uploaded</i>
    <%- end %>
  </dd>

  <dt>Kisi API Key</dt>
  <dd>
    <%- if operator.kisi_api_key.present? %>
      <%= operator.kisi_api_key %>
    <%- else %>
      <i>Not set</i>
    <%- end %>
  </dd>

  <dt>Logo</dt>
  <dd>
    <%- if operator.logo_image.attached? %>
      <%= image_tag(operator.logo_image.variant(resize: "500x500"), width: 150, height: 150) %>
    <%- else %>
      <i>Not uploaded</i>
    <%- end %>
  </dd>

  <dt>Background</dt>
  <dd>
    <%- if operator.background_image.attached? %>
      <%= image_tag(operator.background_image.variant(resize: "500x500"), width: 150, height: 150) %>
    <%- else %>
      <i>Not uploaded</i>
    <%- end %>
  </dd>
</dl>
