<div class="card border-light">
  <%= image_tag(room.photo, class: "card-img-top") %>
  <div class="card-body">
    <div class="row">
      <h3><%= link_to room.name, room_path(room) %></h3>
      <%- if admin? %>
        <%= link_to room_url(room, protocol: :webcal, format: :ics), class: "mt-1 ml-1" do %>
          <%= octicon "calendar", height: 15, width: 15 %>
        <%- end %>
        
      <%- end %>
    </div>
    <%- if room.whiteboard? %>
      <div class="row">
        <span class="badge badge-info">Has Whiteboard</span>
      </div>
    <%- end   %>
    <div class="row">
      <p>
        Seats <strong><%= room.capacity %></strong> people
      </p>
    </div>
    <div class="row">
      <%- if room.available_now? %>
        <%= render "reservation_button", room: room, datetime_in: Time.current.beginning_of_hour, label: "Reserve Now" %>
      <%- end %>
      &nbsp;
      <%= link_to "Reserve later", room_day_availability_path(room, day: Date.today.day, month: Date.today.month, year: Date.today.year), class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>