<%= list_item do %>
  <div class="row">
    <div class="col">
      <h5><%= plan_category.name %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <i><%= plan_category.plans.count %> plans</i>
      <ul class="list-group list-group-flush">
        <% plan_category.plans.map do |plan| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <%= link_to remove_plan_operator_admin_plan_categories_path(plan_id: plan.id), class: "btn btn-danger btn-sm" do %>
                  <i class="fas fa-trash"></i>
                <% end %>
                <%= plan.name %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-12">

      <%= form_with(model: plan_category, local: true, method: :put, url: operator_admin_plan_category_path(plan_category)) do |f| %>
        <div class="form-group">
          <%= f.select :plan_ids, options_from_collection_for_select(plans_for_categorization, :id, :pretty_name, plan_category.plans.map(&:id)), {}, { multiple: true, class: "form-control" , size: plans_for_categorization.count} %>
        </div>

        <%= f.submit "Add these plans", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>

<% end %>
