<div class="row mt-4">
  <div class="col">
    <h5 class="display-5 text-center"><%= day_pass_type.name %></h5>
    <p>
      Price: <%= number_to_currency(day_pass_type.amount_in_cents / 100.0) %>
    </p>
    <p>
      Code:
      <% if day_pass_type.code.present? %>
        <code><%= day_pass_type.code %></code>
      <% else %>
        <i>None</i>
      <% end %>
    </p>
    <p>
      Visible: <%= boolean_to_yesno(day_pass_type.visible?) %>
    </p>
    <p>
      Available: <%= boolean_to_yesno(day_pass_type.available?) %>
    </p>
    <p>
      24/7 building access: <%= boolean_to_yesno(day_pass_type.always_allow_building_access?) %>
    </p>
    <%= link_to 'View', day_pass_type, class: "btn btn-block btn-primary" %>
    <%- if day_pass_type.available? %>
      <%= link_to 'Archive', day_pass_type, method: :delete, remote: true, class: "btn btn-block btn-danger" %>
    <%- end %>
  </div>
</div>
