<div class="row mt-3">
  <div class="col-sm-3"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">New Day Pass</h4>
      <p class="lead text-center mb-3 mt-3">When would you like to use your day pass?</p>

      <%= form_for(@day_pass, html: { class: "form", id: "stripe-form"}, remote: true) do |f| %>
        

        <div class="form-group row">
          <div class="col-1"></div>
          <%= f.date_select :day, { order: [:month, :day, :year]}, class: "form-control form-control-sm col ml-1 mr-1" %>
          <div class="col-1"></div>
        </div>

        <div class="form-group row">
          <div class="col-1"></div>
          <%= f.select :day_pass_type, @day_pass_types, {}, { class: "form-control form-control-sm col ml-1 mr-1" } %>
          <div class="col-1"></div>
        </div>

        <%- if !current_user.has_billing? %>
          <div class="form-group row">
            <div class="col-1"></div>
            <%= render "shared/billing", show_check_option: false %>
            <div class="col-1"></div>
          </div>
        <%- end %>

        <div class="form-group row">
          <div class="col-1"></div>
          <%= f.submit "Purchase", class: "form-control btn btn-primary col" %>
          <div class="col-1"></div>
        </div>
      <%- end %>
      <%= render "shared/terms_of_service" %>
      <p class="text-muted">
        <%= link_to "Go Back", choose_path %>
      </p>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>

<%= javascript_include_tag "stripe_handler.js" %>