<% title "Onboarding" %>

<%= render "steps", step: 6 %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Just a few quick things to set up your account...</h4>
  <hr />
  <h5>What is your favorite part of your space?</h5>
  <%= form_with(url: create_favorite_parts_onboarding_index_path, method: :post, local: true) do |f| %>
    <% @favorite_parts.each do |part| %>
      <div class="form-check">
        <%= f.radio_button "favorite_part", part.first, class: "form-check-input" %>
        <%= f.label part.first, part.last, class: "form-check-label" %>  
      </div>
    <% end %>


    <div class="form-group row m-0 mt-3 p-0">
      <button class="form-control btn btn-primary col" id="submit" data-disable-with="Processing...">
        Next
      </button>
    </div>
  <% end %>

<% end %>