<% title "Onboarding" %>

<%= render "steps", step: 2 %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Just a few quick things to set up your account...</h4>
  <%= form_with(url: create_user_and_locations_onboarding_index_path, method: :post, remote: true) do |f| %>
    <div class="row mb-3">
      <%= f.text_field :operator_name, placeholder: "Your company name", class: "form-control col" %>
    </div>

    <div class="row mb-3">
      <%= f.text_field :name, placeholder: "Your name", class: "form-control col" %>
    </div>

    <div class="row mb-3">
      <%= f.password_field :password, placeholder: "Create a password here...", class: "form-control col" %>
    </div>

    <div class="form-group custom-file mb-3 mt-3">
      <label class="custom-file-label" for="customFile">Choose a logo image</label>
      <%= f.file_field :logo_image, placeholder: "Logo File Path", class: "custom-file-input" %>
    </div>

    <%= f.submit "Next", class: "btn btn-block btn-primary col" %>
  <% end %>
<% end %>