<% title "Onboarding" %>

<%= wide_card do %>
  <strong class="lead text-success">Step 5 of X</strong>
<% end %>

<%= wide_card do %>
  <h4 class="display-4 text-center mt-4">Photos make your app beautiful</h4>
  <%= form_with(url: create_images_onboarding_index_path, method: :post, local: true) do |f| %>
    <%= f.hidden_field :location_id, value: @location.id %>

    <div class="form-group custom-file mb-3 mt-3">
      <label class="custom-file-label" for="customFile">Choose a logo image</label>
      <%= f.file_field :logo_image, placeholder: "Logo File Path", class: "custom-file-input" %>
    </div>
    
    <div class="form-group custom-file mb-3">
      <label class="custom-file-label" for="customFile">Upload a beautiful photo of your space</label>
      <%= f.file_field :background_image, placeholder: "Image File Path", class: "custom-file-input" %>
    </div>

    <%= f.submit "Take me to Jellyswitch!", class: "btn btn-block btn-primary" %>
  <% end %>
<% end %>
