<%= form_for(office_lease, remote: true) do |f| %>
  <%= render "shared/error_messages" , model: office_lease %>

  <div class="form-group">
    <%= f.label :organization %>
    <%= f.collection_select :organization_id, @organizations, :id, :name, prompt: '', class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :office %>
    <%= f.collection_select :office_id, @offices, :id, :name, prompt: '', class: "form-control" %>
  </div>

  <%= f.fields_for :subscription do |ff| %>
    <%= ff.fields_for :plan do |fff| %>
        <%= fff.hidden_field :name, value: "Office Lease Plan" %>
        <%= fff.hidden_field :plan_type, value: "lease" %>
        <%= fff.hidden_field :visible, value: true %>
        <%= fff.hidden_field :available, value: true %>

        <div class="form-group">
          <%= fff.label :interval %>
          <%= fff.select :interval, Plan.options_for_interval, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= fff.label :amount_in_cents %>
          <%= fff.number_field :amount_in_cents, class: "form-control" %>
        </div>

    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { order: [:month, :day, :year]}, class: "form-control form-control-sm col ml-1 mr-1" %>
  </div>

  <div class="form-group">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { order: [:month, :day, :year]}, class: "form-control form-control-sm col ml-1 mr-1" %>
  </div>

  <div class="form-group">
    <%= f.label :lease_agreement %>
    <%= f.file_field :lease_agreement, accept: 'application/pdf', class: "form-control-file" %>
  </div>

  <%= f.submit label, class: "form-control btn btn-primary" %>
<%- end %>
