<% title "Leases" %>

<%= wide_card do %>
  <h4 class="display-4 text-center">Leases</h4>
  <%= link_to "Create an office lease", new_office_lease_path, class: "btn btn-primary" %>
  <ul class="list-group mt-3">
    <% @office_leases.each do |lease| %>
      <a class="list-group-item list-group-item-action" href="<%= office_lease_path(lease) %>">
        <%= lease.office_name %> ending <%= short_date(lease.end_date) %> <small>(<%= pretty_price(lease) %>)</small>
      </a>
    <% end %>
  </ul>
<% end %>