<%= wide_card do %>
  <div class="row">
    <div>
      <% if location.has_photo? %>
        <%= image_tag location.square_photo, class: "img-thumbnail", style: "max-height: 100px;" %>
      <% end %>
    </div>
    <div class="ml-4 mb-1">
      <div class="row">
        <h5 class="display-5">
          <%= link_to location.name, location %>
        </h5>
      </div>
      <div class="row">
        <p><%= location.snippet %></p>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
    <%= form_for(:location, url: set_location_path, method: :put, remote: true, html: {class: "form"}) do |f| %>
      <%= f.hidden_field :id, value: location.id %>
      <%= f.submit "Switch to #{location.name}", class: "btn btn-primary btn-block" %>
    <% end %>
    </div>
  </div>
<% end %>
