<% title "Onboarding" %>

<%= wide_card do %>
  <h4 class="display-4 text-cente">Let's get your space ready for customers!</h4>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <%= check_box_tag :foo %> Set up membership plans
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <%= check_box_tag :foo %> Set up day passes
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <%= check_box_tag :foo %> Add reservable conference and/or phone rooms
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <%= check_box_tag :foo %> Set up building access
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <%= check_box_tag :foo %> Invite your staff
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col">
          <%= check_box_tag :foo %> Import your member information
        </div>
      </div>
    </li>
  </ul>
<% end %>