<div class="row mt-3">
  <div class="col-sm">
    <div class="card-group">
 
      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">
            Last month
          </h5>
          <p class="card-text">
            <%= number_to_currency(@last_month_revenue.to_f / 100.0) %>
          </p>
        </div>
      </div>

      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">
            This month
          </h5>
          <p class="card-text">
            <%= number_to_currency(@this_month_revenue.to_f / 100.0) %>
          </p>
        </div>
      </div>

      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">
            Expenses
          </h5>
          <p class="card-text">
            This report contains expenses incurred by <%= current_tenant.name %>.
          </p>
          <p class="card-text">
            <%= link_to "View expenses", expenses_accounting_index_path, class: "btn btn-primary" %>
          </p>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <div class="card-group">
 
      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">
            Plans
          </h5>
          <p class="card-text">
            <%= current_tenant.name %> has <%= current_tenant.plans.count %> membership plans available.
          </p>
          <p class="card-text">
            <%= link_to "View plans", plans_path, class: "btn btn-primary" %>
          </p>
        </div>
      </div>

      <div class="card border-light">
        <div class="card-body">
          <h5 class="card-title">
            Day Passes
          </h5>
          <p class="card-text">
            <%= current_tenant.name %> has <%= current_tenant.day_passes.count %> day passes.
          </p>
          <p class="card-text">
            <%= link_to "View day passes", day_passes_path, class: "btn btn-primary" %>
          </p>
        </div>
      </div>

      <%= render "shared/empty_card" %>
    </div>
  </div>
</div>

