<% title "Childcare Reservation" %>

<%= breadcrumb do %>
  <li class="breadcrumb-item"><%= link_to "Childcare", childcare_index_path %></li>
  <li class="breadcrumb-item active" aria-current="page">Reservation</li>
<% end %>

<%= render Layout::FullWidth do %>
  <%= list_item do %>
    <h4 class="display-4 text-center">Childcare Reservation</h4>

    <%= render(Childcare::Reservation, childcare_reservation: @childcare_reservation) %>
  <% end %>
<% end %>