<div class="row mt-3">
  <div class="col-sm-2"></div>
  <div class="col-sm">
    <div class="jumbotron bg-white pb-2 pt-2">
      <h4 class="display-4 text-center mt-4">Doors</h4>
      <%= link_to "Add a Door", new_door_path, class: "btn btn-primary" %>
      <table class="table table-sm">
        <tr>
          <th>Door</th>
          <th>Configuration Slug</th>
          <th>Actions</th>
        </tr>
        <%- @doors.each do |door| %>
          <tr>
            <td>
              <%= door.name %>
            </td>
            <td>
              <code><%= door.slug %></code>
            </td>
            <td>
              <%= link_to "View Punches", door_path(door), class: "btn btn-primary btn-sm" %>
              <%= link_to "Edit", edit_door_path(door), class: "btn btn-info btn-sm" %>
            </td>
          </tr>
        <%- end %>
      </table>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>