<div class="card-body list-group list-group-flush p-0">
  <%- @invoices.each do |invoice| %>
    <div class="list-group-item">
      <div class="float-left">
        <p class="lead">
          <%= link_to invoice.user.name, user_path(invoice.user) %>
        </p>
        <%- if invoice.status == "paid" %>
          <span class="badge badge-success">paid</span>
        <%- else %>
          <span class="badge badge-info"><%= invoice.status %></span>
        <%- end %>
      </div>    
      <div class="float-right">
        <small>Created <%= invoice.pretty_date %></small>
        <%- if invoice.due_date.present? %>
          <br />
          <small>Due <%= invoice.pretty_due_date %></small>
        <%- end %>
        <br />
        <h4 class="text-success mt-1"><%= number_to_currency(invoice.amount_due.to_f / 100.0) %></h4>
        <%= link_to "Download PDF", invoice.pdf_url, class: "btn btn-sm btn-primary" %>
        <div class="clearfix mb-1"></div>
        <%- if invoice.status == "open" %>
          <%= link_to "Mark as paid", user_mark_invoice_as_paid_path(invoice.user, invoice_id: invoice.id), class: "btn btn-sm btn-success" %>
        <%- end %>
      </div>
    </div>
  <%- end %>
</div>
