<%- if !ios_request? %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="<%= feed_items_path %>" data-turbolinks-action="restore">
      <%- if current_tenant.logo_image.attached? %>
        <%= image_tag current_tenant.logo_image, width: 30, height: 30 %>
      <%- end %>
      <%= current_tenant.name %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= link_to "Home", feed_items_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
        <%= link_to "Search", new_search_result_path, class: "nav-link", data: {"turbolinks-action" => "restore"} %>
        <%= link_to "Members & Resources", members_resources_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
        <%= link_to "Finances", accounting_index_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
        <%= link_to "Data", reports_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
        <%= link_to "Offices", offices_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
        <%= link_to "Leases", office_leases_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
        <%= link_to "Locations", locations_path, class: "nav-link", data: { "turbolinks-action" => "restore" } %>
      </ul>

      <%= render "layouts/user_account_nav" %>

    </div>
  </nav>

<%- end %>
