<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Bristlecone</title>
  </head>

  <%- if @background_image %>
    <body style="background-image: url(<%= asset_url(@background_image) %>); background-repeat: no-repeat; background-size: auto;">
  <%- else %>
    <body>
  <%- end %>
    <div class="container-fluid">
      <%= render "layouts/nav" %>
      <%= render "layouts/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
